<template>
	<v-layout row>
		<v-flex xs12>
			<app-slides :items="items" :max-items="[3, 1]" />
		</v-flex>
	</v-layout>
</template>

<script>

import Slides from '../components/Slides.vue'

const items = [
	{
		img: 'https://porschenewsroom.s3.amazonaws.com/porsche_newsroom/produkte/cayenne/p17_0250_finejpg/eb07ecbf-b884-4cc1-b077-c50e9cdffff0_teaser_original_720x1_5.jpg',
		title: 'Porsche',
		link: 'https://www.porsche.com/russia/'
	},
	{
		img: 'https://www.autocar.co.uk/sites/autocar.co.uk/files/ferrari-488-gtb-rt-2016-web-0032.jpg',
		title: 'Ferrari',
		link: 'https://www.ferrari.com/en-EN'
	},
	{
		img: 'https://images.ctfassets.net/o6sr41tx16eu/5C0CIu95TyMIYg22OaQ2Cm/8f9390f5675dd3b66dd6a2dec202efd5/Monster-821-MY18-Red-17-Slider-Gallery-1920x1080.jpg',
		title: 'Ducati',
		link: 'https://www.ducati.com/us/en/home'
	}
]

export default {
	data() {
		return {
			items
		}
	},
	components: {
		appSlides: Slides
	}
}
</script>
