<template>
	<div>
	  <v-navigation-drawer 
	  	v-model="drawer"
		  temporary
		  light
		  app>
		  <v-list app>
			  <v-list-tile 
					v-for="item in navItems" 
					:key="item.title"
					router
					:to="item.link"
					>
				  <v-list-tile-content>
					  {{ item.title }}
				  </v-list-tile-content>
			  </v-list-tile>
		  </v-list>
	  </v-navigation-drawer>
    <v-toolbar dark dense fixed app color="primary">
		<v-toolbar-side-icon 
			@click.native.stop="drawer = !drawer"
			class="hidden-sm-and-up"
			></v-toolbar-side-icon>
    	<v-toolbar-title class="hidden-xs-only">
			<router-link tag="span" to="/" style="cursor: pointer;">
				Carousel Demo
			</router-link>
		</v-toolbar-title>
		<v-spacer></v-spacer>
		<v-toolbar-items class="hidden-xs-only">
			<v-btn 
				flat
				v-for="item in navItems" 
				:key="item.title"
				router
				:to="item.link"
				>
				{{ item.title }}
			</v-btn>
		</v-toolbar-items>
    </v-toolbar>

	</div>

</template>

<style scoped>
nav {
  margin-bottom: 20px;
}
</style>

<script>

const navItems = [
	{
		title: 'Home',
		link: '/'
	},
	{
		title: 'About Us',
		link: '/about'
	},
	{
		title: 'Contact Us',
		link: '/contacts'
	}
]

export default {
  data() {
    return {
      navItems,
      title: "Carousel Demo",
      drawer: false
    };
  }
};
</script>



