<template>
	<v-carousel 
		:hide-controls="hideControls" 
		:hide-delimiters="hideControls">
    	<v-carousel-item 
			v-for="(item,i) in itemsToDisplay" 
			:src="item.img" 
			:key="i"
			@click.native="handleClick(item)"
			class="clickable"
			>
			<div class="carousel-content-wrapper">
				<div class="carousel-content">
					{{item.title}}
				</div>
			</div>
			
		</v-carousel-item>
  	</v-carousel>
</template>

<script>
const DEFAULT_MAX_DESKTOP_ITEMS = 3;
const DEFAULT_MAX_MOBILE_ITEMS = 1;

export default {
  props: {
    items: {
      type: Array,
      required: true
    },
    maxItems: {
      default: () => [DEFAULT_MAX_DESKTOP_ITEMS, DEFAULT_MAX_MOBILE_ITEMS],
      type: Array
    }
  },
  data() {
    return {
      width: window.innerWidth
    };
  },
  beforeMount() {
    window.addEventListener("resize", this.handleWindowSizeChange);
  },
  beforeDestroy() {
	  window.removeEventListener('resize', this.handleWindowSizeChange);
  },
  computed: {
    itemsToDisplay() {
      const [
        desktop = DEFAULT_MAX_DESKTOP_ITEMS,
        mobile = DEFAULT_MAX_MOBILE_ITEMS
      ] = this.maxItems;

      let maxItems = this.isMobile ? mobile : desktop;

      maxItems = Math.min(this.items.length, maxItems);

      return this.items.slice(0, maxItems);
    },
    hideControls() {
      return this.itemsToDisplay.length <= 1;
    },
    isMobile() {
      return this.width <= 480;
    }
  },
  methods: {
    handleClick(item) {
      const { link } = item;
      window.open(link, "_blank");
	},
	handleWindowSizeChange(event) {
		this.width = window.innerWidth;
	}
  }
};
</script>

<style scoped>
.clickable {
  cursor: pointer;
}
.carousel-content-wrapper {
  position: absolute;
  bottom: 70px;
  left: 50%;
  max-width: 80%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.carousel-content {
  color: white;
  padding: 10px;
  font-size: 20px;
}
</style>


