<template>
  <v-app>
	<app-nav></app-nav>
    <v-content>
		<router-view></router-view>
		<div class="empty-space-for-scroll">
			&nbsp;
		</div>
    </v-content>
	
  </v-app>
</template>

<script>

import Nav from '@/components/Nav.vue';

export default {
  components: {
	  appNav: Nav
  },
  name: "App"
};
</script>

<style scoped>
div.empty-space-for-scroll {
	min-height: 2000px;
	width: '100%';
}
</style>

